# local development API URL (replace with your Windows/host IP address) or use npx localtunnel --port 8000 and then use sth like that https://five-ducks-invite.loca.lt
# EXPO_PUBLIC_API_URL=http://192.168.1.XX:8000
# you must put it in file .env.local
# in order to access the mobile app in wsl use pnpm --filter mobile dev:tunnel
